
.all {
  margin: 50px;
}


.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.tablet, .smartphone, .notebook {
  margin: 10px;
  cursor: pointer;
}

.prod {
  margin-top: 50px;
}